.app-wrapper {
    word-wrap: break-word;
    align-items: center;
}

.btnHeader {
    font-size: 23px;
    margin: 1px;
    background: rgba(255, 215, 113, 0.7);
    border: 1px solid blue;
    padding: 0.1em;
}

.btnHeader:hover {
    background: rgba(80, 134, 255, 0.44);
}

.header {
    font: 25px "Microsoft Yi Baiti";
    margin: 2px;
    color: green;
}

a {
    text-decoration: none;
    color: #0d338f;
}

a:active {
    background: darkorange;
}

.b {
    font-size: 22px;
    margin: 10px;
}

.b1 {
    font-size: 20px;
    margin: 5px;
}

.nav {
    font-family: cursive;
    width: 500px;
    border: 2px solid #237a30;
    padding: .5em;
    float: left;
}

.content {
    width: 80%;
    height: 100%;
    font-size: 20px;
    padding-left: 20px;
}

.text2 {
    font-weight: normal;
}

.text {
    font-style: italic;
}

.gitBtn {
    background-size: cover;
    width: 100px;
    height: 50px;
    background-image: url("https://3dnews.ru/assets/external/illustrations/2020/03/17/1006161/i75_ArticleImage_23542.jpg");
}