a {
    text-decoration: none;
    color: #ff8c00;
}

.header {
    margin-right: 2%;
    text-align: left;
}

.spanHeader {
    font-size: 25px;
}

.hText {
    font-size: 50px
}
.h2Text{
    font-size: 40px;
}
.homeImg {
    width: 45px;

}
.text{
    font-size: 25px;
    width: 40%;
    word-wrap: break-word;
}
.back_btn{
    color: #FF8C00;
    padding: 14px 10px;
    border-radius: 4px ;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: whitesmoke;
}
.back_btn:hover{
    background-color:#FF8C00;
    color: whitesmoke;
}
