body {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.main__header {
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.main__text {
    text-transform: uppercase;
}

.nav {
    position: fixed;
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    color: rgb(83, 81, 81);
    height: 100vh;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 3px 0 3px rgb(151, 151, 151);
    justify-content: space-between;
}

div>h3 {
    text-align: center;
}

hr {
    border-color: silver;
    width: 100%;
}

.nav a,
.dropdown-btn,
.dropdown-container a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #646464;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-container {
    display: none;
    background-color: rgb(228, 228, 228);
    padding-left: 8px;
}

.dropdown-container a {
    color: rgba(0, 0, 0, 0.596);
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.dropdown-container a:hover,
.dropdown-btn:hover,
.nav a:hover {
    transition: background-color 0.5s ease;
    background-color: rgb(155, 28, 28);
    color: whitesmoke;
    transition: color 0.2s ease;
}

.social {
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
}

.social>img {
    width: 32px;
    align-content: flex-end;
    padding: 9px;
    border-bottom: 3px solid transparent;
}

.social img:hover {
    background-color: rgba(155, 28, 28, 0.5);
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 2px gray;
}

main {
    padding-left: 200px;
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

.context {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.about>div>img {
    width: 25vw;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    border: 1px solid black;
    border-radius: 10px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.text {
    width: 30%;
    height: 30vh;
    background-color: #ffc;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    font-size: 1.5vw;
    font-family: 'Alexander Regular';
    font-weight: bold;
    vertical-align: middle;
    border: 1px solid brown;
    border-radius: 10px;
    padding: 20px;
}

@font-face {
    font-family: 'Alexander Regular';
    src: url('Alexander.eot');
    src: url('Alexander.eot?#iefix') format('embedded-opentype'), url('Alexander.woff') format('woff'), url('Alexander.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.text:hover,
.text:focus,
.about>div>img:focus,
.about>div>img:hover {
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    position: relative;
    z-index: 5;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.project>div>img {
    height: 25vw;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    border: 1px solid black;
    border-radius: 10px;
}

.start {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    align-items: center;
}

.proj {
    background-color: azure;
    font-family: 'Alexander Regular';
    width: 30%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
    font-size: 1.5vw;
    padding: 20px;
    margin: 20px;
}

.business-logic {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 70px;
}